/*Google Fonts imported Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes fade-in-normal {0% { opacity: 0; } 100% { opacity: 1;} }
@keyframes slide-left-normal {0% { transform: translateX(0); } 100% { transform: translateX(-100px);} }

/*Wildcard Selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Urbanist", sans-serif;

}

/*Home Page*/

/*Header*/
header {
    background: url(../images/website-images/header-image.webp) no-repeat center center/cover;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    padding-top: 5px;

}


#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.5em;
}


.active {
    border-bottom: 1px solid #ffffff;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    color: #ffffff;
}

#nav-toggle:checked~nav {
    display: block;
    background: url(../images/website-images/header-image.webp) no-repeat center center/cover;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.nav-toggle-label i {
    color: #ffffff;
}

/*Main Content*/
main {
    flex: 1 0 auto;
}

/*Hero Section*/

#cover-text>h5 {
    color: #ffffff;
    text-transform: uppercase;
}

/*Reasons Section*/

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

#reasons-trial {
    background: url(../images/website-images/pro-reasons.jpeg) no-repeat center center/cover;
}

#reasons {
    padding-top: 50px;
    width: 100%;
}

#reasons > h3 {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 10px 5px 0 5px;
}

#img-reasons img {
    display: none;
}

#reasons-text h5 {
    padding: 5px;
}

#reasons-text p {
    padding: 5px;
}

#reasons-trial-map-cover-text {
    background-color: rgb(0 0 0 / 37%);
    height: 100%;
}

#pitch-experience i {
    padding-top: 5%;
    font-size: 130%;
}

#pro-awards i {
    padding-top: 5%;
    font-size: 130%;
}

#pitch-experience,
#pro-awards {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#pitch-experience>div {
    padding: 0 20px 0 20px;
}

#pro-awards>div {
    padding: 0 20px 0 20px;
}

#pitch-experience h5,
#pro-awards h5 {
    font-size: 0.8rem;
}

#pitch-experience p,
#pro-awards p {
    font-size: 0.8rem;
}

#reasons-cover-text p {
    font-size: 0.7rem;
    padding: 0 20px;
}

#pitch-experience,
#pro h5 {
    text-align: center;
}

/*Trial Link Section*/

#trial-link {
    text-align: center;
    padding: 10px;
}

#trial-link button {
    background: #fafafa00;
    border-radius: 15px;
    border: solid #fafafa;
}

#trial-link a {
    text-decoration:none;
    color: #ffffff;
    font-size: 1rem;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

#trial-link button:hover {
    background: #ad0d0d;
}

#trial-link2 {
    text-align: center;
    padding: 10px 10px 30px 10px;
}

#trial-link2 button {
    background: #fafafa00;
    border-radius: 15px;
    border: solid #fafafa;
}

#trial-link2 a {
    text-decoration:none;
    color: #ffffff;
    font-size: 1rem;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

#trial-link2 button:hover {
    background: #ad0d0d;
}

#trial-map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#map h3 {
    text-align: center;
    color: #ffffff;
    padding: 5px 15px 0px 15px;
    font-size: 1.8rem;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

iframe {
    width: 100%;
    height: 200px;
}

/*Footer*/
footer {
    background: url(../images/website-images/header-image.webp) no-repeat center center/cover;
    box-shadow: 2px 0 0 2px #3a3a3a;
    padding: 5px;
    font-family: "Urbanist", sans-serif;
}

#socials-contacts {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials-contacts a {
    padding: 5px;
    color: #ffffff;
}

#socials {
    list-style-type: none;
    display: flex;
}

#socials-contacts p {
    color: #fafafa;
    font-size: 0.7rem;
    padding: 20px 40px 0 0;
}
#contacts {
    list-style-type: none;
    margin-top: 5px;
}

#contacts i {
    color: #ffffff;
    font-size: 100%;
    padding: 5px;
}

#contacts li {
    color: #ffffff;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 65%;
}

hr {
    border-top: 1px solid #ffffff;
}

/*Training Page*/

#training-hero {
    background: url(../images/website-images/main-background.webp) no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

#training-cover-text {
    background-color: rgba(193, 24, 21, 0.9);
    font-size: 110%;
    width: 90%;
    padding: 45px 5px 5px;
    margin: 10px 20px 20px;
    height: 100%;
}

#training-cover-text h2 {
    text-align: center;
    color: #ffffff;
    padding: 5px 15px 0px 15px;
    font-size: 150%;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#training-cover-text hr {
    border-top: 1px solid #ffffff;
    margin: 2px 0;
}

#training-cover-text p {
    color: #ffffff;
    padding: 5px;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 80%;
    padding: 5px;
}

#training-cover-text h3 {
    color: #ffffff;
    padding: 5px;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 90%;
    padding: 5px;
}

#training-cover-text h5 {
    color: #ffffff;
    padding: 5px;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 80%;
    padding: 5px;
}

#under8,#under11,#under13 {
    padding: 5px 5px;
}

/*Trial Page*/

#trial-hero {
    background: url(../images/website-images/trial-background.webp) no-repeat center center/cover;
    width: 100%;
    height: 100%;
}

#trial-cover-text {
    background-color: rgba(193, 24, 21, 0.9);
    font-size: 110%;
    width: 90%;
    padding: 50px 5px 10px 5px;
    margin: 10px 20px 20px;
    height: 100%;
}

#trial-page-header {
    text-align: center;
    color: #ffffff;
    padding: 0 15px 0px 15px;
    font-size: 80%;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#trial-cover-text p {
    color: #ffffff;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 65%;
    padding: 5px;
}

#trial-form-cover-text {
    background-color: rgba(193, 24, 21, 0.9);
    font-size: 110%;
    width: 90%;
    padding: 10px 5px 5px;
    margin: 30px 20px 20px;
    height: 100%;
}

#trial-form-cover-text h2 {
    text-align: left;
    color: #ffffff;
    font-size: 100%;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

label {
    color: #ffffff;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 65%;
    padding-top: 5px;
}

input {
    margin: 5px 2px 5px 2px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

#submit-button {
    text-align: center;
    padding: 10px;
}

.join-button {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: #352f2f;
    border: none;
    color: #fafafa;
    font-size: 80%;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
}

.join-button:hover {
    background-color: #fafafa;
    color: #352f2f;
}

/*Formdump Page*/

#formdump-cover-text{
    width: 80%;
    height: 100%;
    background-color: rgba(30, 25, 25, 0.7);
    margin: 350px 40px 0;
}

#formdump-hero {
    background: url(../images/website-images/formdump-image.webp) no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

#formdump-hero h2 {
    text-align: center;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#formdump-hero p {
    color: #ffffff;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 100%;
    text-align:center;
}

#homepage-link {
    text-align: center;
    padding: 10px;
}

#homepage-link a {
    text-decoration: underline;
    color: #ffffff;
    font-size: 120%;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
}

#homepage-link a:hover {
    color:#086024;
}


/*Media query for large or landscape phones (570px and up)*/
@media screen and (min-width:570px) {

    #map h3 {
        font-size: 200%;
    }

    #socials {
        font-size: 150%;
    }

    #contacts {
        font-size: 200%;
    }

    /*Footer*/


    #contacts {
        font-size: 150%;
    }


}

/*Media query for tablets and larger (768px and up)*/
@media screen and (min-width:768px) {

    h1 {
        font-size: 3rem;
        width: 120%;
        padding: 5px;
    }

    nav {
        position: relative;
        width: 40%;
        justify-content: end;
        padding: 5px;
        box-shadow: 0 0 #3a3a3a;
        display: flex;
        font-size: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }

    #reasons-trial-map-cover-text {
        background-color: rgba(52, 139, 12, 0.616);
    }

    #cover-text {
        top: 200px;
        max-width: 45%;
        font-size: 180%;
    }

    #reasons {
        padding-top: 100px;
    }

    #reasons-trial {
    background: url(../images/website-images/reasons-Background-image.webp) no-repeat center center/cover;
}

    #reasons>h3 {
        font-size: 3rem;
    }

    #img-reasons {
        display: flex;
    }

    #img-reasons img {
        display: block;
        width: 15%;
        height: 320px;
    }

    #reasons-text {
        font-size: 0.6rem;
    }

    #reasons-text h5 {
        font-size: 0.6rem;
    }


    #map h3 {
        font-size: 2.5rem;
        text-align: left;
    }

    #trial-link button {
        text-align: right;
        margin: 10px;
    }

    #trial-link a {
        font-size: 1.2rem;
    }

    #trial-map {
        flex-direction: row-reverse;
    }

    #contacts {
        font-size: 2rem;
        padding-left: 100px;
    }

    #socials {
        font-size: 1.2rem;
    }

    #socials-contacts p {
        font-size: 1.5rem;
    }

    iframe {
    height: 350px;
    }

    /*Training Page*/
    #training-cover-text {
        margin: 60px 35px 20px;
    }

    #training-hero {
        height: 100%;
    }

    .free-training-button2 {
        width: 500px;
        height: 80px;
    }

    .free-training-button2 a {
        font-size: 250%;
    }

    /*Trial Page*/

    #trial-cover-text {
        margin: 100px 0 0 40px;
        font-size: 170%;
    }

    #trial-form-cover-text {
        font-size: 170%;
        margin-left: 40px;
    }

    .join-button {
        font-size: 60%;
    }

    /*Formdump Page*/

    #formdump-cover-text{
    margin: 500px 70px 0;
    }

    #formdump-hero h2 {
        font-size: 180%;
    }

    #formdump-hero p {
        font-size: 130%;
    }






}

/*Media query for laptops and larger screens (992 and up)*/
@media screen and (min-width:992px) {

    header a {
        width: 65%;
    }

    h1 {
        font-size: 3.5rem;
        padding: 20px;
    }

    nav {
        width: 40%;
    }

    #menu {
        font-size: 1rem;
        margin-top: 10px;
    }

    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }

    #hero {
        height: 135vh;
        margin-top: 110px;
    }

    #reasons {
        padding-top: 140px;
    }

    #reasons > h3 {
        font-size: 4rem;
        padding: 5px 0 0 15px;
        text-align: left;
    }

    video {
        width: 55%;
    }

    #img-reasons {
        display: flex;
    }

    #img-reasons img {
        width: 15%;
        height: 380px;
    }

    #reasons-text {
    width: 45%;
    font-size: 1rem;
    }

    #cover-text {
        top: 150px;
        max-width: 65%;
        margin-top: 150px;
        font-size: 280%;
    }

    #cover-text>h4 {
        font-size: 125%;
    }

    #cover-text>h5 {
        padding: 4px;
        display: flex;
    }

    #reasons h2 {
        font-size: 4rem;
    }

    #pitch-experience h5 {
        font-size: 0.9rem;
    }

    #pro-awards h5 {
        font-size: 0.9rem;
    }

    #pitch-experience p {
        text-align: left;
        font-size: 0.7rem;
    }

    #pro-awards p {
        text-align: right;
        font-size: 0.7rem;
    }

    #pitch-experience,
    #pro-awards {
        margin-bottom: 15px;
    }

    #trial-link button {
        margin-right: 90px;
    }

    #map h3 {
        font-size: 4rem;
    }

    iframe {
    width: 100%;
    height: 320px;
    }

    /*Footer*/

    #contacts {
        font-size: 2.3rem;
        padding-left: 300px;
    }

    #socials-contacts p {
        font-size: 1.5rem;
    }

    /*Training Page*/

    #training-cover-text {
        margin: 165px 35px 20px;
        font-size: 170%;
    }

    #training-hero {
        height: 100%;
    }

    /*Trial Page*/
    
    #trial-cover-text {
        margin: 110px 0 0 50px;
        font-size: 190%;
    }

    #trial-form-cover-text {
        font-size: 190%;
        margin: 50px 47px 50px;
    }

    .join-button {
        width: 120px;
        height: 50px;
    }

    #formdump-cover-text {
        margin-top: 200px;
    }
}

/*Media query for computers,large laptops and upwards (1200px and higher)*/
@media screen and (min-width:1200px) {

    h1 {
        font-size: 5rem;
        padding: 20px;
    }

    nav {
        width: 20%;
    }

    #menu {
        font-size: 1.2rem;
    }

    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }

    #hero {
        height: 135vh;
        margin-top: 150px;
    }

    #cover-text h2 {
        font-size: 120%;
    }

    video {
        width: 55%;
    }

    #img-reasons {
        display: flex;
    }

    #reasons-text {
    width: 45%;
    }

    #cover-text {
        top: 150px;
        max-width: 45%;
    }

    #cover-text>h4 {
        font-size: 125%;
    }

    #cover-text>h5 {
        padding: 4px;
        display: flex;
    }

    #pitch-experience p {
        text-align: left;
        font-size: 0.8rem;
    }

    #pro-awards p {
        text-align: right;
        font-size: 0.8rem;
    }

    #pitch-experience,
    #pro-awards {
        margin-bottom: 0;
    }

    #trial-link button {
        margin-right: 100px;
    }

    #map h3 {
        font-size: 4rem;
    }

    #contacts {
        font-size: 2.3rem;
        letter-spacing: 2px;
        padding-left: 500px;
    }
    
    #socials-contacts i {
        font-size: 80%;
    }

    /*Training Page*/
    #training-cover-text {
        margin: 102px 80px 60px 60px;
    }

    #training-hero {
        height: 100%;
    }

    .free-training-button2 {
        margin-bottom: 50px;
    }

    /*Trial Page*/

    #trial-cover-text {
        margin: 120px 0 0 60px;
    }

    #trial-form-cover-text {
        margin: 50px 0 90px 60px;
    }

}