/*Google Fonts imported Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/*Wildcard Selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Urbanist", sans-serif;

}

/*Home Page*/

/*Header*/
header {
    background: url(../images/Header-image.jpg) no-repeat center center/cover;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffffff;

}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.5em;
}


.active {
    border-bottom: 1px solid #ffffff;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    color: #ffffff;
}

#nav-toggle:checked~nav {
    display: block;
    background-color: rgb(48 114 18);
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.nav-toggle-label i {
    color: #ffffff;
}

/*Main Content*/
main {
    flex: 1 0 auto;
    margin-top: 47px;
    overflow: scroll;

}

/*Hero Section*/
#hero {
    background: url("../images/Main-background.jpg") no-repeat center center/cover;
    height: 400px;
    width: 100%;
}

#cover-text {
    /*Final rgba value sets the opacity so it is semi-transparent*/
    background-color: rgba(193, 24, 21, 0.7);
    font-size: 110%;
    position: absolute;
    right: 0;
    width: 40%;
    min-height: 80px;
    padding: 5px 5px;
}

#cover-text>h4 {
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ffffff;
}

#cover-text>h5 {
    color: #ffffff;
    text-transform: uppercase;
}

/*Reasons Section*/

#reasons-trial {
    background: url(../images/Reasons-Background-image.jpg) no-repeat center center/cover;
}

#reasons {
    width: 100%;
    margin-bottom: 20px;
}

video {
    width: 100%;
}

#reasons>h2 {
    text-align: center;
    font-size: 130%;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
}

#reasons-trial-map-cover-text {
    background-color: rgba(52, 139, 12, 0.616);
    height: 100%;
}

#pitch-experience i {
    padding-top: 5%;
    font-size: 130%;
}

#pro-awards i {
    padding-top: 5%;
    font-size: 130%;
}

#pitch-experience,
#pro-awards {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#pitch-experience>div {
    margin-bottom: 20px;
    padding: 0 20px;
}

#pro-awards>div {
    padding: 0 20px 20px;
}

#pitch-experience,
#pro-awards>h5 {
    font-size: 100%;
}

#reasons-cover-text p {
    font-size: 85%;
    padding: 0 20px;
}

hr {
    border-top: 1px solid #ffffff;
    margin: 5px 0;
}

#pitch-experience,
#pro h5 {
    text-align: center;
}

/*Trial Button Section*/

#trial-button {
    text-align: center;
}

.free-training-button {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background-color: #ff1010;
    border: none;
    margin-bottom: 20px;
}

.free-training-button a {
    text-decoration: none;
    color: #ffffff;
    font-size: 180%;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;

}

#map h3 {
    text-align: center;
    color: #ffffff;
    padding: 15px 15px 0px 15px;
    font-size: 160%;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#contacts {
    background: url(../images/Header-image.jpg) no-repeat center center/cover;
    list-style-type: none;

}

#contacts i {
    color: #ffffff;
    font-size: 150%;
    padding: 5px;
}

#contacts li {
    color: #ffffff;
    padding: 5px;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 120%;
    padding: 10px;
}

#contacts-cover-text {
    background-color: rgba(52, 139, 12, 0.616);
    height: 100%;
}

/*Footer*/
footer {
    background: url(../images/Header-image.jpg) no-repeat center center/cover;
    box-shadow: 2px 0 0 2px #3a3a3a;
    padding: 10px;
}

#socials {
    display: flex;
    text-align: center;
    padding: 20 0;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials i {
    font-size: 180%;
    padding: 5%;
    color: #ffffff;
}

/*Training Page*/

#training-hero {
    background: url(../images/Main-background.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

#training-cover-text {
    background-color: rgba(193, 24, 21, 0.9);
    font-size: 110%;
    width: 90%;
    padding: 5px 5px;
    margin: 0 20px 20px;
}

#training-cover-text h2 {
    text-align: center;
    color: #ffffff;
    padding: 5px 15px 0px 15px;
    font-size: 150%;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#training-cover-text hr {
    border-top: 1px solid #ffffff;
    margin: 2px 0;
}

#training-cover-text p {
    color: #ffffff;
    padding: 5px;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 80%;
    padding: 5px;
}

#training-cover-text h3 {
    color: #ffffff;
    padding: 5px;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 90%;
    padding: 5px;
}

#training-cover-text h5 {
    color: #ffffff;
    padding: 5px;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;
    font-size: 80%;
    padding: 5px;
}

#under8,#under11,#under13 {
    padding: 5px 5px;
}

/*Button*/
#training-page-trial-button {
    text-align: center;
}

.free-training-button2 {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background-color: #ff1010;
    border: none;
    margin: 0 0 20px;
}

.free-training-button2 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 180%;
    font-family: "Urbanist", sans-serif;
    text-transform: uppercase;

}

/*Media query for large or landscape phones (570px and up)*/
@media screen and (min-width:570px) {

    #map h3 {
        font-size: 200%;
    }


}

/*Media query for tablets and larger (768px and up)*/
@media screen and (min-width:768px) {

    h1 {
        font-size: 3rem;
        width: 120%;
    }

    nav {
        position: relative;
        width: 100%;
        justify-content: end;
        padding: 0 1rem;
        box-shadow: 0 0 #3a3a3a;
        top: 100%;
        margin-bottom: auto;
        display: flex;
        font-size: 125%;
    }

    #menu {
        font-size: 130%;
        text-align: left;
    }

    .nav-toggle-label {
        display: none;
    }

    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }

    #hero {
        height: 115vh;
        margin-top: 5vh;
    }

    #cover-text {
        top: 200px;
        max-width: 45%;
        font-size: 180%;
    }

    #reasons>h2 {
        font-size: 3rem;
    }

    #pitch-experience h5 {
        text-align: left;
        font-size: 190%;
    }

    #pro-awards h5 {
        text-align: right;
        font-size: 190%;
    }

    #pitch-experience p {
        font-size: 160%;
    }

    #pro-awards p {
        font-size: 160%;
    }

    #map h3 {
        font-size: 3rem;
    }

    .free-training-button {
        width: 400px;
        height: 100px;
    }

    .free-training-button a {
        font-size: 220%;
    }

    #contacts {
        font-size: 150%;
    }

    #socials {
        font-size: 150%;
    }






}

/*Media query for laptops and larger screens (992 and up)*/
@media screen and (min-width:992px) {

    header a {
        width: 60%;
    }

    h1 {
        font-size: 5rem;
        width: 65%;
    }

    nav {
        width: 40%;
    }

    #menu {
        font-size: 150%;
    }

    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }

    #hero {
        height: 135vh;
        margin-top: 150px;
    }

    #cover-text {
        top: 150px;
        max-width: 65%;
        margin-top: 150px;
        font-size: 280%;
    }

    #cover-text>h4 {
        font-size: 125%;
    }

    #cover-text>h5 {
        padding: 4px;
        display: flex;
    }

    #reasons h2 {
        font-size: 4rem;
    }

    #pitch-experience p {
        font-size: 200%;
        text-align: left;
    }

    #pro-awards p {
        font-size: 200%;
        text-align: right;
    }

    #pitch-experience,
    #pro-awards {
        margin-bottom: 15px;
    }

    .free-training-button {
        width: 500px;
        height: 100px;
    }

    .free-training-button a {
        font-size: 280%;
    }


    #map h3 {
        font-size: 5rem;
    }

    #contacts {
        font-size: 200%;
    }

    #socials {
        font-size: 200%;
    }

}

/*Media query for computers,large laptops and upwards (1200px and higher)*/
@media screen and (min-width:1200px) {

    h1 {
        font-size: 7rem;
        width: 200%;
    }

    nav {
        width: 20%;
    }

    #menu {
        font-size: 110%;
    }

    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }

    #hero {
        height: 135vh;
        margin-top: 100px;
    }

    #cover-text {
        top: 150px;
        max-width: 45%;
    }

    #cover-text>h4 {
        font-size: 125%;
    }

    #cover-text>h5 {
        padding: 4px;
        display: flex;
    }

    #pitch-experience p {
        font-size: 200%;
        text-align: left;
    }

    #pro-awards p {
        font-size: 200%;
        text-align: right;
    }

    #pitch-experience,
    #pro-awards {
        margin-bottom: 15px;
    }

    #map h3 {
        font-size: 5rem%;
    }

    /*Training Page*/
    #training-cover-text {
        background-color: rgba(193, 24, 21, 0.7);
        font-size: 110%;
        position: absolute;
        width: 85%;
        min-height: 120%;
        padding: 5px 5px;
        margin: 60px 80px 60px 90px;
    }

}